In [1]:
import pandas as pd 
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
import matplotlib.pyplot as plt

In [2]:
df_flight_paths = pd.read_csv('path.csv')
df_flight_paths.head()

,start_lat,start_lon,end_lat1,end_lon1,end_lat2,end_lon2,end_lat3,end_lon3,end_lat4,end_lon4
0,48.579966,7.750007,48.866693,2.333335,NaN,NaN,NaN,NaN,NaN,NaN
1,43.134186,5.918822,36.763065,3.050553,NaN,NaN,NaN,NaN,NaN,NaN
2,48.866693,2.333335,50.083337,14.465980,NaN,NaN,NaN,NaN,NaN,NaN
3,40.749979,-73.980017,48.866693,2.333335,NaN,NaN,NaN,NaN,NaN,NaN
4,52.521819,13.401549,48.129942,11.574993,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_airports = pd.read_csv('station.csv')
df_airports.head()

   station        lat        lng
0    Paris  48.866693   2.333335
1  Algiers  36.763065   3.050553
2   Prague  50.083337  14.465980
3    Paris  48.866693   2.333335
4   Munich  48.129942  11.574993

In [4]:
airports1 = [ dict(
        type = 'scattergeo',
        lon = df_airports['lng'],
        lat = df_airports['lat'],
        mode = 'markers',
        marker = dict( 
            size=3,
            color='rgb(255, 0, 0)',
            opacity=0.7
        ))]
airports2 = [ dict(
        type = 'scattergeo',
        lon = df_airports['lng'],
        lat = df_airports['lat'],
        mode = 'markers',
        marker = dict( 
            size=1,
            color='rgb(255, 0, 0)',
            opacity=1
        ))]

In [5]:
flight_paths = []
for i in range( len( df_flight_paths ) ):
    flight_paths.append(
        dict(
            type = 'scattergeo',
            lon = [ df_flight_paths['start_lon'][i], df_flight_paths['end_lon1'][i] ],
            lat = [ df_flight_paths['start_lat'][i], df_flight_paths['end_lat1'][i] ],
            mode = 'lines',
            line = dict(
                width = 0.5,
                alpha = 0.2,
                color = 'blue',
            )
        )
    )

In [6]:
layout = dict(
        title = 'flight path',
        showlegend = False,         
        geo = dict(
            projection = dict( type="world" ),
            resolution = 50,
            showland = True,
            landcolor = 'rgb(243, 243, 243)',
            countrycolor = 'rgb(204, 204, 204)',

            lataxis = dict(
                #range = [ 20, 60],
                showgrid = False,
                tickmode = "linear",
                dtick = 50
            ),
            lonaxis = dict(
                #range = [-100, 20],
                showgrid = False,
                tickmode = "linear",
                dtick = 60
            ),
        ),
    )

In [7]:
fig = dict(data=airports1+airports2+flight_paths, layout=layout)
py.iplot(fig, validate=False, filename='flight path')

/Users/xuyucan/Desktop/Chicoxyc/venv/lib/python3.6/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead